@import "../assets/variables";

.no-notes {
  text-align: center;

  svg {
    width: 4rem;
    height: 4rem;
  }

  p {
    margin: $padding-x2 0;
  }

  button {
    background-color: $color-blue-dark;
    color: white;
    border: none;
    padding: $padding $padding-x2;
    border-radius: $border-radius;
  }
}