@import "../assets/variables";

.noteinput {
  border: none;
  border-radius: $border-radius;
  box-shadow: 0 0.1rem 0.5rem 0.1rem #0000001f;
  color: $color-gray-dark;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  height: 12rem;
  padding: $padding;
  resize: none;
  width: 100%;

  ::placeholder {
    color: $color-gray-dark;
  }
}