@import "assets/variables";

// This is specific to the Main layout
// badly named
.wrapper {
  margin: 0 auto;
  padding-top: 10rem;
  width: 20rem;

  @media screen and (max-width: $breakpoint-small) {
    padding: 5rem $padding-x2;
    margin: none;
    width: 100%;
  }
}