@import "assets/variables";

.status {
  background-color: #c9c9c9;
  border-radius: 0.2rem;
  height: 0.3rem;
  margin-top: 1.5rem;
  overflow: hidden;
  width: 100%;

  &__bar {
    background-color: $color-blue-dark;
    height: 100%;
    max-width: 100%;
    transition: width 0.2s;
    width: 50%;

    &--warning {
      background-color: #f9d28b;
    }

    &--error {
      background-color: #cc5757;
    }
  }
}
