@import "../assets/variables";

.status {
  background-color: $color-gray-medium;
  border-radius: $border-radius;
  height: 0.3rem;
  margin-top: $padding-x2;
  overflow: hidden;
  width: 100%;

  &__bar {
    background-color: $color-blue-dark;
    height: 100%;
    max-width: 100%;
    transition: width $animation-speed-fast;
    width: 50%;

    &--warning {
      background-color: $color-orange;
    }

    &--error {
      background-color: $color-red;
    }
  }
}
