@import "../components/assets/variables";

// overall styles need a rethink
// should probably start with the NoteGrid setup
.full-screen {
  align-items: center;
  background-color: $color-blue-dark;
  display: flex;
  justify-content: center;
  width: 100%;
}